build --repo_env=BAZEL_CXXOPTS="-std=c++20"

build --copt=-DSEASTAR_SSTRING
build --copt=-DSEASTAR_HAVE_DPDK
build --copt=-DSEASTAR_API_LEVEL=6
build --copt=-DSEASTAR_SCHEDULING_GROUPS_COUNT=16
build --copt=-DFMT_LOCALE
build --copt=-DFMT_SHARED
build --copt=-std=c++20

build:clang_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:clang_config --crosstool_top=//toolchain:clang_suite

try-import %workspace%/.bazelrc.user
